@{
    ViewData["Title"] = "微服务 - 邮件服务";
}

<div class="text-center">
    <h1 class="display-4">EmailService v1.0</h1>
    <p>欢迎使用邮件服务，它是帮助你快速的发送一封邮件给指定的人，你无须关注它是如何实现的。</p>
    <p>@ViewBag.Host</p>
</div>
